<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/biddingGuest.css">
    <title>Bidding</title>
</head>
<body>
<div class="wrap">
    <%- include('./partials/headerGuest') -%>

    <main>
        <%- include('./partials/guestNav') -%>

        <div class="mainFlex">
            <div class="firstFlex">
                <div class="section1">
                    <div class="labelFlex">
                        <label>Licytacja id:</label>
                        <label><%= auction._id %></label>
                    </div>
                    <img class="bigImg" src="" alt="bidding">
                    <div class="imgFlex">
                        <img class="img1" src="" alt="add1">
                        <img class="img2" src="" alt="add2">
                        <img class="img3" src="" alt="add3">
                    </div>
                </div>
                <div class="section2">
                    <div class="description">
                        <label>Produkt</label>
                        <label><%= product.name %></label>
                    </div>
                    <div class="description">
                        <label>Marka:</label>
                        <label><%= product.brand %></label>
                    </div>
                    <div class="description">
                        <label>Rozmiar:</label>
                        <label><%= product.size %></label>
                    </div>
                    <div class="description">
                        <label>Rok produkcji:</label>
                        <label><%= product.yearOfProduction %></label>
                    </div>

                </div>
            </div>

            <div class="secondFlex">
                <div class="labelFlex">
                    <label>Data rozpoczęcia licytacji:</label>
                    <label><%= auction.dateStart %></label>
                </div>
                <div class="section3">
                    <div class="bidding">
                        <div class="labelFlex">
                            <label>Aktualna cena:</label>
                            <% if(auction.offers.length > 0){%>
                                <label name="price_now" id="price_now"><%= auction.priceNow %></label>
                            <%} else {%>
                                <label name="price_now" id="price_now"><%= auction.priceStart %></label>
                            <%};%>
                            <label>zł</label>
                        </div>
                        <form class="formFlex">
                            <label>
                                <input type="number" required>
                            </label>
                            <button onclick="location.href='/users/login'" type="button">Licytuj</button>
                        </form>
                        <div class="labelFlex">
                            <label>Koniec licytacji:</label>
                            <label><%= auction.dateEnd %></label>
                        </div>
                    </div>
                    <div class="listOffers">
                        <button onclick="location.href='/offers/<%= auction._id%>/listOfferGuest'">Lista ofert</button>
                    </div>
                    <div class="descProduct">
                        <p><%= auction.description %></p>
                    </div>
                </div>
            </div>
        </div>






    </main>

    <%- include('./partials/footerGuest') -%>
    <%- include('./partials/scriptNav') -%>
